<!DOCTYPE html >

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="site-head">
<title th:text="#{title.application}">Collection</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all" href="../../css/klaser.css" th:href="@{/css/klaser.css}" />
<link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link rel="icon" href="../../imgages/watch.jpg" th:href="@{/images/watch.jpg}" />
</head>

<body>
  <header th:fragment="site-header">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                </ul>
   <a href="index.html" th:href="@{/}"><img src="../../images/watches.jpg" th:src="@{/images/watches.jpg}"/> </a> <a href="Collection.html" th:href="@{/watches}" th:text="#{title.collection}">Watches</a> <a href="moneta.html" th:href="@{/watches/create}" th:text="#{title.add}">add watch</a>
            </div>
        </div>
    </div>
    <ul id="messages" th:with="notifyMessages=${session[T(pl.simple.zegarki.services.NotificationServiceBasic).NOTIFY_MSG_SESSION_KEY]}">
      <li th:each="msg : ${notifyMessages}" th:text="${msg.text}"
           th:class="${#strings.toLowerCase(msg.type)}">
      </li>
    </ul>
  </header>
   <!-- <a href="index.html" th:href="@{/}"><img src="../../images/watches.jpg" th:src="@{/images/watches.jpg}"/> </a> 
    <a href="Collection.html" th:href="@{/watches}" th:text="#{title.collection}">Watches</a>
    <a href="moneta.html" th:href="@{/watches/create}" th:text="#{title.add}">add watch</a>
     Zalogowany: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>  
    <form th:action="@{/dupa}" method="POST" style="display: inline">
        <input type=submit class="link" value="Wyloguj"/>
    </form>
    -->    


  <div>
    <h2 th:text="#{title.list}" style="display: inline;">Klaser monet</h2>    
    <img src="../../images/klaser.jpg" alt="Klaser logo" title="Klaser logo" th:src="@{/images/klaser.jpg}"
      th:alt-title="#{title.application}" style="float: right;" /> 
    <p> A tu jakis kontent, raczje sie nie pokaże </p>
  </div>

  <footer th:fragment="site-footer"> 
  Marcin Pieczka <a href="https://github.com/Leghuir/Zegar2"> Source code</a>
  Projekt zaliczeniowy, 2017 
  </footer>

</body>
</html>